In [1]:
import pandas as pd

### Content Data

In [2]:
content_data=pd.read_csv('Content.csv')
content_data.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [3]:
content_data.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [4]:
content_data=content_data.dropna()

In [5]:
content_data=content_data.drop(columns=['User ID','Unnamed: 0','URL'])

In [29]:
content_data=content_data.rename(columns={'Type':'Content type'})

In [42]:
content_data

                               Content ID Content type        Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video            food
..                                    ...          ...             ...
994  c54b49c4-b1f2-4641-8595-1cbd19937845        photo         science
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF      technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio        veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF         culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio      technology

[801 rows x 3 columns]

In [31]:
content_data.isna().sum()

Content ID      0
Content type    0
Category        0
dtype: int64

In [32]:
content_data.dtypes

Content ID      object
Content type    object
Category        object
dtype: object

### Reaction Data

In [9]:
reaction_data=pd.read_csv('Reactions.csv')
reaction_data.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [10]:
reaction_data.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [11]:
reaction_data=reaction_data.dropna()

In [12]:
reaction_data=reaction_data.drop(columns=['Unnamed: 0','User ID'])

In [33]:
reaction_data=reaction_data.rename(columns={'Type':'Reaction type'})

In [34]:
reaction_data.head()

                             Content ID Reaction type            Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested 2020-08-23 12:25:58

In [35]:
reaction_data.isna().sum()

Content ID       0
Reaction type    0
Datetime         0
dtype: int64

In [36]:
reaction_data.dtypes

Content ID               object
Reaction type            object
Datetime         datetime64[ns]
dtype: object

In [16]:
reaction_data['Datetime']=pd.to_datetime(reaction_data['Datetime'],dayfirst=False)

In [37]:
reaction_data.dtypes

Content ID               object
Reaction type            object
Datetime         datetime64[ns]
dtype: object

In [41]:
reaction_data

                                 Content ID Reaction type            Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested 2020-08-23 12:25:58
...                                     ...           ...                 ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56       worried 2020-10-31 04:50:14
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike 2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued 2021-02-16 17:17:02
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried 2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish 2021-01-04 04:55:11

[22534 rows x 3 columns]

### ReactionTypes Data

In [19]:
reaction_types_data=pd.read_csv('ReactionTypes.csv')
reaction_types_data

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [20]:
reaction_types_data.isna().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [21]:
reaction_types_data=reaction_types_data.drop(columns='Unnamed: 0')

In [ ]:
reaction_types_data=reaction_types_data.rename(columns={'Type':'Reaction type'})

In [191]:
reaction_types_data.head()

  Reaction type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

In [23]:
reaction_types_data.dtypes

Type         object
Sentiment    object
Score         int64
dtype: object

### Saving clean data

In [188]:
content_data.to_csv('cleaned content.csv',index=False)

In [189]:
reaction_data.to_csv('cleaned reaction.csv',index=False)

In [190]:
reaction_types_data.to_csv('cleaned ReactionTypes.csv',index=False)

## Creating single dataFrame from these different csv files by merging them

In [43]:
df=reaction_data.merge(content_data[['Content ID','Content type','Category']])

In [156]:
df=pd.merge(df,reaction_types_data,on='Reaction type')

In [173]:
df

,Content ID,Reaction type,Datetime,Content type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
18379,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,veganism,positive,72
18380,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,veganism,positive,72
18381,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,culture,positive,72
18382,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,culture,positive,72
18383,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,culture,positive,72

In [174]:
top_category=df.groupby('Category').sum('Score')

In [175]:
top_category

                 Score
Category
Studying          1176
animals          52443
cooking          49681
culture          47710
dogs             41816
education        45103
fitness          41829
food             47576
healthy eating   52745
public speaking  37730
science          53657
soccer           42031
studying         34685
technology       46683
tennis           43612
travel           53935
veganism         38513

In [178]:
Top5_Categories=top_category['Score'].nlargest(5)

In [179]:
Top5_Categories

Category
travel            53935
science           53657
healthy eating    52745
animals           52443
cooking           49681
Name: Score, dtype: int64

### Saving Final Result as new CSV files

In [197]:
df.to_csv('Final cleaned data after merging.csv',index=False)

In [195]:
Top5_Categories.to_csv('Top5_Category.csv',index=True)